<html>
<head>
<title>Calculator</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body >
  <center><h2 class="page-header">Calculator</h2></center>
 <div class="container">
  <div class="header clearfix">
        <form action="/" method="POST">
              Number-1: <input type="text" class="form-control" placeholder="First Number" name="Num1">
              <br>
              Number-2: <input type="text" class="form-control" placeholder="Second Number" name="Num2">
              <br>
              Operation : <input type="text" class="form-control" placeholder="Operator: + , - , *, /" name="Operation">
             <center><button type="submit" class="btn btn-default">Click to Solve</button></center>
        </form>
       <h1 class="text-muted">
        Answer: <%= result %>
        </h1>

        <footer class="footer">
        <p>&copy;CMPE-273 Calculator, Inc.</p>
      </footer>
    </div>
  </div>

</body>
</html>