<!DOCTYPE html>
<html>
  <head>
    <title><Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Calculator</h1>
    <p>Welcome to Calculator</p>
  </body>
</html>
